<form #userForm="ngForm">
    <!-- <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
    
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.date | date}} </td>
        </ng-container>
    
        <ng-container matColumnDef="team1">
            <th mat-header-cell *matHeaderCellDef> Team 1</th>
            <td mat-cell *matCellDef="let transaction"> <img class="team-icon" src="{{transaction.team1.logo}}" /> </td>
        </ng-container>
    
        <ng-container matColumnDef="team2">
            <th mat-header-cell *matHeaderCellDef> Team 2</th>
            <td mat-cell *matCellDef="let transaction"> <img class="team-icon" src="{{transaction.team2.logo}}" /> </td>
        </ng-container>
    
        <ng-container matColumnDef="ratio">
            <th mat-header-cell *matHeaderCellDef> Ratio </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.ratio}} </td>
        </ng-container>
    
        <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef> Units </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.units}} </td>
        </ng-container>
    
        <ng-container matColumnDef="spread">
            <th mat-header-cell *matHeaderCellDef> Spread </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.spread}} </td>
        </ng-container>
    
        <ng-container matColumnDef="outcome">
            <th mat-header-cell *matHeaderCellDef> Outcome </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.outcome}} </td>
        </ng-container>
    
        <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Result </th>
            <td mat-cell *matCellDef="let transaction"> {{transaction.result}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->
    <table class="table-responsive table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Ratio</th>
            <th>Units</th>
            <th>Spread</th>
            <th>Outcome</th>
            <th>Result</th>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" name="date" placeholder="Choose a date" [(ngModel)]="transaction.date" readonly required>
                    <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </td>
            <td>
                <select class="form-control" name="firstSelectedTeam" [(ngModel)]="transaction.team1" required>
                    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
                </select>
            </td>
            <td>
                <select class="form-control" name="secondSelectedTeam" [(ngModel)]="transaction.team2" required>
                    <option *ngFor="let team of teams" [ngValue]="team">{{team.name}}</option>
                </select>
            </td>
            <td><input class="form-control" name="ratio" id="ratio" [(ngModel)]="transaction.ratio" type="text" required></td>
            <td><input class="form-control" name="units" id="units" [(ngModel)]="transaction.units" type="text" required></td>
            <td><input class="form-control" name="spread" id="spread" [(ngModel)]="transaction.spread" type="text" required></td>
            <td>
                <select class="form-control" name="outcome" id="outcome" [(ngModel)]="transaction.outcome" required>
                    <option>Win</option>
                    <option>Lose</option>
                </select>
            </td>
            <td><input class="form-control" name="result" id="result" [(ngModel)]="transaction.result" type="text" required></td>
        </tr>
    </table>
    <button class="button" (click)="addTransaction()">Add Row</button>
</form>