
<div *ngIf="transactions">
    <table class="table-responsive table-bordered table-striped">
        <tr>
            <th>Date</th>
            <th>Team 1</th>
            <th>Team 2</th>
            <th>Ratio</th>
            <th>Units</th>
            <th>Spread</th>
            <th>Outcome</th>
            <th>Result</th>
        </tr>
        <tr *ngFor="let transaction of transactions">
            <td>{{transaction.date}}</td>
            <td><img src="{{transaction.team1.logo}}" /></td>
            <td><img src="{{transaction.team2.logo}}" /></td>
            <td>{{transaction.ratio}}</td>
            <td>{{transaction.units}}</td>
            <td>{{transaction.spread}}</td>
            <td>{{transaction.outcome}}</td>
            <td>{{transaction.result}}</td>
        </tr>
    </table>

    <app-transaction-form></app-transaction-form>
</div>