<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Crocs vs Dragons
  </h1>
  <img width="300" alt="Crocs" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSENBtzWU-OU6WkWdqjNNacFnx85ruwm1HvoR-3T2ncm4teByhUFQ">
  <img width="300" alt="Dragons" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3yivDEG2Mu1bU5zInhVXOvWvswN2JL3XBKYd3f_-5uZvWfDHl">
</div>
<h2>Website currently under construction, please come back later!</h2>
<nav>
    <a routerLink="/teams">Teams</a>
</nav>
<router-outlet></router-outlet>
